.hero__greeting {
    color: var(--secondary-yellow-500);
}

.hero__header {
    max-width: 600px;
}

.hero__img_container {
    display: flex;
    flex-direction: column;
     gap: 10px;
}

.hero__img {
    height: 300px;
    width: 300px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
}

.hero__links {
    display: flex;
    align-items: center;
    gap: 20px;
}


.link.github {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}