.book {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .book {
        flex-direction: row;
    }
}

.book__image__container {
    height: 400px;
    width: 250px;
}

.book__image {
    height: 100%;
    width: 100%;
}

.book__info__container {
    max-width: 300px;
}

.book__author {
    color: var(--secondary-yellow-500);
}

.book__genre {
    color: var(--secondary-yellow-300)
}

.book__btn {
    padding: 15px;
    font-weight: 700;
    border-radius: var(--radius);
    color: var(--secondary-yellow-500);
    background-color: var(--primary-indigo-500);
    transition: 0.2s ease-in-out;
}

.book__btn:hover {
    background-color: var(--secondary-yellow-500);
    color: var(--primary-indigo-500);
}