.book {
    display: flex;
    align-items: start;
    gap: 20px;
    justify-content: space-between;
}

.book__image__container {
    height: 400px;
    width: 250px;
}

.book__image {
    height: 100%;
    width: 100%;
}

.book__info__container {
    width: 500px;
}

.book__author {
    color: var(--secondary-yellow-500);
}