#about-page {
    min-height: 50vh;
    margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
    .container {
        width: var(--content-width-medium);
        margin: 0 auto;
    }

    .about__section {
        margin-bottom: 50px;
    }
}

.genres {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .genres {
        margin-bottom: 0px;
    }
}

.genre {
    width: 100px;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--primary-indigo-300);
    color: var(--primary-indigo-300);
    cursor: pointer;
}

.genre:hover { 
    border: none;
    font-weight: bold;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.genre.hiphop:hover {
    color: var(--primary-indigo-500);
    background-color: var(--secondary-yellow-500);
}

.genre.funk:hover {
    color: var(--primary-indigo-500);
    background-color: var(--secondary-yellow-500);
}

.genre.rock:hover {
    color: var(--primary-indigo-500);
    background-color: var(--secondary-yellow-500);
}

.genre.house:hover {
    color: var(--primary-indigo-500);
    background-color: var(--secondary-yellow-500);
}
