#about-page {
    min-height: 50vh;
    margin-bottom: 100px;
}

.about__heading {
    color: var(--secondary-yellow-500);
}

 .about__section {
     margin-bottom: 50px;
 }
     margin-bottom: 50px;
 }

@media screen and (min-width: 768px) {
    .container {
        width: var(--content-width-medium);
        margin: 0 auto;
    }

    .about__section {
     margin-bottom: 100px;
    }


}

.genres {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.genre {
    width: 100px;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--primary-indigo-300);
    color: var(--primary-indigo-300);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .container {
        width: var(--content-width-medium);
        margin: 0 auto;
    }

    .about__section {
        margin-bottom: 100px;
    }

    .genres {
        margin-bottom: 0px;
    }
}

.genre:hover { 
    border: none;
    font-weight: bold;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    color: var(--primary-indigo-500);
    background-color: var(--secondary-yellow-500);
}
.game__links {
    margin-bottom: 20px;
    display: flex;
    flex-flow: wrap;
    border-radius: 5px;
    cursor: pointer;
    color: var(--primary-indigo-500);
}

.game__link__list-item {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
}

.game__link__list-item:hover {
    border: none;
    font-weight: bold;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    color: var(--primary-indigo-500);
    background-color: var(--secondary-yellow-500);
}