/* Hero */
@media screen and (min-width: 700px) {
    #hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* Projects */
.projects__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
}

@media screen and (min-width: 700px) {
    .projects__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
}

.gitHub {
    color: var(--primary-indigo-500);
    width: 55px;
}

.gitHub:hover {
    border-bottom: 2px solid var(--primary-indigo-700);
}


/* About */
#about-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about_image {
    width: 300px;
}

#front-end {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 700px) {
    #about-section {
        flex-direction: row;
        justify-content: space-between;
        gap: 80px;
    }

    #about-section p {
        max-width: 300px;
    }

    .back-end__top {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
}