/* Hero */

@media screen and (min-width: 700px) {
    #hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* Projects */

.projects__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
}

@media screen and (min-width: 700px) {
    .projects__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
}

.gitHub {
    color: var(--primary-indigo-500);
    width: 55px;
}

.gitHub:hover {
    border-bottom: 2px solid var(--primary-indigo-700);
}

.links {
    display: flex;
    gap: 20px;
}

/* About */

#about-section {
    display: flex;
    gap: 100px;
}

.about_image {
    width: 300px;
}