.hero {
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
}

.hero__img-container {
    display: flex;
    flex-direction: column;
     gap: 10px;
}

.hero__img {
    height: 300px;
    width: 300px;
    object-fit: contain;
    border-radius: 5px;
}

.projects ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (min-width: 760px) {
    .projects ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.gitHub {
    color: var(--primary-indigo-500);
    width: 55px;
}

.gitHub:hover {
    border-bottom: 2px solid var(--primary-indigo-700);
}

.links {
    display: flex;
    gap: 20px;
}