.footer {
    display: flex;
    flex-direction: column;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__links {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__links h3:hover {
  transition: all 0.2s ease-in;
  color: var(--primary-indigo-100);
}

.social_media_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.social_media_links a:hover {
  border: none;
  color: var(--primary-indigo-700);
  transition: all 0.2s ease-in;
}

@media screen and (min-width: 700px) {
  .footer_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
  }

  .footer__links h3 {
    font-size: 1.3rem;
  }
}