:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  /* primary */
  --primary-indigo-50: #eef2ff;
  --primary-indigo-100: #fff8e0;
  --primary-indigo-300: #a5b4fc;
  --primary-indigo-500: #6366f1;
  --primary-indigo-700: #4338ca;
  --primary-indigo-900: #312e81;
  --primary-indigo-950: #1e1b4b;

  /* secondary */
  --secondary-yellow-100: #e0e7ff;
  --secondary-yellow-300: #e0e7ff;
  --secondary-yellow-500: #FCEDA5;
  --secondary-yellow-700: #BFCA38;
  --secondary-yellow-900: #484B1B;

  /* greys */
  --gray-100: #f3f4f6;
  --gray-300: #d1d5db;
  --gray-500: #6b7280;
  --gray-600: #1f2937;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;

  
  /* Background */
  --background-dark: hsl(0, 0%, 5%);
  --background--projects: hsla(0, 0%, 0%, 99%);
  --skill-background: var(--primary-indigo-900);

  /* Sizes */
  --radius: 10px;
  --btn-radius: 5px;
  --margin-bottom: 20px;


  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 2rem;
  --text-xlg: 3rem;

  /* Container */
  --content-width-small: 640px;
  --content-width-medium: 768px;
  --content-width-large: 1024px;
}

.text-base {
  font-size: var(--text-base);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html {
  letter-spacing: -0.01rem;
  font-size: 16px;
  line-height: 1.6;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-indigo-300);
}

p {
  padding-bottom: 1.5rem;
}

p, ul, ol {
  font-size: 1rem;
}

p {
  letter-spacing: 0.01rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-indigo-500);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 3rem;
  }
}

textarea {
  vertical-align: top;
  resize: none;
  width: 100%;
  margin-bottom: 30px;
}

input {
  font-size: 1rem;
}

input:focus, textarea:focus {
  border-bottom: 2px solid var(--primary-indigo-900);
  outline: none;
}

textarea, input {
  font-family: inherit;
  font-size: 1rem;
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid var(--primary-indigo-900);
  background-color: transparent;
}

/* Sections */
section {
  margin-bottom: 50px;
}

@media screen and (min-width: 700px) {
  section {
    margin-bottom: 200px;  
  }

  textarea {
    margin-bottom: 50px;
  }
}

.icon {
  font-size: 40px;
}

/* Buttons */
.btn {
    width: 150px;
    min-height: 40px;
    font-weight: 600;
    letter-spacing: 1.5px;
    background-color: var(--primary-indigo-700);
    color: var(--primary-indigo-100);
    border: 1px solid var(--primary-indigo-700);
    border-radius: var(--btn-radius);
    cursor: pointer; 
}

.btn:hover {
    background-color: var(--primary-indigo-100);
    color: var(--primary-indigo-700);
}

/* Links */
.link:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--primary-indigo-500);
}