:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */

  /* Primary */
  --primary-indigo-50: #eef2ff;
  --primary-indigo-100: #e0e7ff;
  --primary-indigo-300: #a5b4fc;
  --primary-indigo-500: #6366f1;
  --primary-indigo-700: #4338ca;

  /* Sizes */
  --btn-radius: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  padding-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

textarea {
  height: 100px;
}

input {
  height: 35px;
}

textarea, input {
  padding: 10px;
}

section {
  margin-bottom: 200px;
}

.link {
  color: var(--primary-indigo-500);
  border-bottom: 2px solid var(--primary-indigo-500);
}

#about-section {
  display: flex;
  gap: 100px;
}

#front-end {
  
}

.about_image {
  width: 300px;
}

.icon {
  font-size: 40px;
}

