:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  /* Primary */
  --primary-indigo-50: #eef2ff;
  --primary-indigo-100: #e0e7ff;
  --primary-indigo-300: #a5b4fc;
  --primary-indigo-500: #6366f1;
  --primary-indigo-700: #4338ca;
  --primary-indigo-900: #4338ca;
  --primary-indigo-900: #1e1b4b;

  
  /* Background */
  --background-dark: hsl(0, 0%, 5%);
  --background--projects: hsla(0, 0%, 0%, 99%);
  --skill-background: var(--primary-indigo-900);

  /* Sizes */
  --radius: 10px;
  --btn-radius: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html {
  letter-spacing: -0.01rem;
  font-size: 16px;
  line-height: 1.6;
}


li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-indigo-300);
}

p {
  padding-bottom: 1.5rem;
}

p, ul, ol {
  font-size: 1rem;
}

p {
  letter-spacing: 0.01rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-indigo-500);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

/* h1 {
  font-size: 1.8rem;
} */

@media screen and (min-width: 700px) {
  h1 {
    font-size: 2rem;
  }


  
}

textarea {
  vertical-align: top;
  resize: none;
  width: 100%;
}

input {
  font-size: 1rem;
}

input:focus, textarea:focus {
  border-bottom: 2px solid var(--primary-indigo-900);
  outline: none;
}

textarea, input {
  font-family: inherit;
  font-size: 1rem;
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid var(--primary-indigo-900);
  background-color: transparent;
}

/* Sections */
section {
  margin-bottom: 50px;
}

@media screen and (min-width: 700px) {
  section {
    margin-bottom: 200px;  
  }
}

.icon {
  font-size: 40px;
}

/* Buttons */
.btn {
    width: 150px;
    min-height: 40px;
    font-weight: 600;
    letter-spacing: 1.5px;
    background-color: var(--primary-indigo-700);
    color: var(--primary-indigo-100);
    border: 1px solid var(--primary-indigo-700);
    border-radius: var(--btn-radius);
    cursor: pointer; 
}

.btn:hover {
    background-color: var(--primary-indigo-100);
    color: var(--primary-indigo-700);
}

/* Links */
.link:hover {
    border-bottom: 2px solid var(--primary-indigo-500);
}